/* css da home */
body{
    margin: 0%;
    font-family:'Baloo 2', Arial;
    background-color: #ca82f7;
}

*,*::after,*::before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin: 0%;
}

li{
    text-decoration: none;
    list-style: none;
    color: rgba(50, 50, 170, 0.829);
    margin: 0%;
}
a{
    text-decoration: none;
    margin: 0%;
    text-align: center;
}

.TopNav{
    overflow: hidden;
    background-color: rgb(111, 111, 153);

}

.TopNav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.TopNav a:hover{
    background-color: rgb(36, 36, 75);
    color: black;
} 



section div .caixa{
    background-color: rgba(0, 0, 0, 0.61);
    color: white;
    font-size: 14px;
    width: 520px;
    padding: 50px;
    margin-top: -6%;

}

section div .caixa:hover {
    background-color:rgb(36, 36, 75);
}

/*css do login*/

.login{
    margin-top: 80px;
    
}

#login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.card{
    background: rgba(0, 0, 0, 0.60);
    padding: 40px;
    border-radius: 2px;
    width: 280px;

}

.card-header{
    padding-bottom: 50px;
    opacity: 0.8;
    color: #fff;

}

card-header::after{
    content: " ";
    width: 70px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}
.card-content label{
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
}

.usuario{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.usuario input{
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #fff;
}

.submit{
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    color: #e1e1e1;
    margin: 0 0;
}
.submit a{
    text-align: center;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

/** FAZ A ANIMAÇÃO DA FOTO*/
.galery {
    width: 1000px;
    height: 600px;
    background-color: rgb(247, 247, 247);
    overflow: hidden;
    margin-left: 16%;
    margin-top: 10%;

}
.galery .fotos {
    width: 500%;
    animation-name: animacao;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}
.galery .fotos img {
    width: 19.9%;
    height: 900px;

}


@keyframes animacao {
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }
    50% { margin-left: -200%; }
    70% { margin-left: -200%; }
    75% { margin-left: -300%; }
    95% { margin-left: -300%; }
    100% { margin-left: -400%; }
}

 footer{
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    background-color:rgb(111, 111, 153);
 }

.Tudo{
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 5%;
 }

#Info1 {

    width: 300px;
    height: 300px;  
    display: inline-block;
    margin: 5%;
    border-top: rgb(111, 111, 153);
    border-radius: 38px;
    color: whitesmoke;
}

#Info1:hover {
    background-color: rgb(182, 161, 194);

}
#Info2 {

    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 5%;
    border-radius: 38px;
    color: whitesmoke;
}

#Info2:hover {
    background-color: rgb(182, 161, 194);
}

#Info3 {

    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 5%;
    border-radius: 38px;
    color: whitesmoke;
}

#Info3:hover {
    background-color: rgb(182, 161, 194);
}

.NavAlun{
    background-color: rgb(233, 157, 44);
}

.principalbebe{
    width: 250px;
    height: 50px;
    margin-left: 50%;
    
}

/* Calendario */

.calendario {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: purple;
}

.calendario {
    background-color: #ca82f7;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 20px;

header {
    text-align: center;
    border-bottom: 2px solid whitesmoke;
    
}

main {
    margin-top: 150px;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.month {
    background-color: whitesmoke;
    border: 1px solid purple;
}

.month h1 {
    background-color: #ca82f7;
    ;
    color: rgb(87, 9, 87);
    text-align: center;
    padding: 5px;

}
.days,
.date {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    list-style: none;
    gap: 3px;
    margin: 5px;
    margin-right: 22px;
}

.days li {
    background-color: rgb(194, 117, 194);
    border: .5px solid gray;
    text-align: center;
    padding: 5px;
}

.date li {
    background-color:rgb(194, 117, 194);
    border: .5px solid gray;
    text-align: center;
    padding: 5px;
}

.days li {
    background-color: rgb(194, 117, 194);
    border: .5px solid gray;
    text-align: center;
    padding: 5px;
}

.date li {
    background-color:rgb(194, 117, 194);
    border: .5px solid gray;
    text-align: center;
    padding: 5px;
}

